{% extends 'main_app/base.html' %}
{% load mediapath_tag %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% if perms.main_app.change_product or perms.main_app.view_product %}
                {% if request.user.email == object.user_email %}
                    <form method="post" enctype="multipart/form-data" class="mb-4">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Сохранить</button>
                    </form>
                {% else %}
                    <p>У вас нет полных прав для редактирования этого продукта.</p>
                {% endif %}
            {% else %}
                <p>У вас нет полных прав для изменения продукта.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}