{% extends 'main_app/base.html' %}
{% load mediapath_tag %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <img src="{% mediapath product.image %}" alt="Product Image" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2 class="display-4">{{ product.name }}</h2>
            <p class="lead">{{ product.description }}</p>
            <p class="lead">Цена: ${{ product.price_per_unit }}</p>
            <p class="lead">Категория: {{ product.category }}</p>
            <p class="lead">Дата добавления: {{ product.creation_date }} </p>

            {% if version.id %}
                <a href="{% url 'main_app:version-detail' version.id %}" style="color: #007bff; text-decoration: none;
                transition: color 0.3s ease;">Посмотреть версию продукта</a>
            {% endif %}

            <div class="mt-4">
                <a href="{% url 'main_app:product-detail' product.id %}" class="btn btn-primary btn-lg btn-block">Добавить в корзину</a><br>
            </div>
            <div class="mt-2">
                <a href="{% url 'main_app:product-delete' object.pk %}" class="btn btn-danger btn-lg btn-block">Удалить</a>

                {% if user.is_authenticated and user.email == object.user_email %}
                    <a href="{% url 'main_app:product-edit' object.pk %}" class="btn btn-warning btn-lg btn-block">Изменить</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}