<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация завершена</title>
</head>
<body>
    <div class="form-group">
        <form method="POST" action="{% url 'users:confirm_register' %}">
            <label for="verification_code">Для завершения регистрации введите код из письма:</label>
            <input type="text" class="form-control" id="verification_code">
            <button type="submit" class="btn btn-info mt-3">Отправить</button>
        </form>
    </div>
</body>
</html>