{% extends 'main_app/base.html' %}
{% load mediapath_tag %}

{% block content %}
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-4 d-flex align-items-center justify-content-center mb-4">
                <a href="{% url 'main_app:post-form' %}" class="btn btn-primary btn-lg btn-block">Опубликовать
                    новый отзыв</a>
            </div>
            {% for post in posts %}
                <div class="card mb-4" style="max-width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex align-items-center justify-content-center">
                            <img src="{% mediapath post.image %}" class="img-fluid rounded-start" style="height: 300px;"
                                 alt="Post Image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body mt-2 mb-2">
                                <h2 class="my-0 mr-md-auto font-weight-bold">{{ post.title }}</h2>
                                <br>
                                <p class="card-text">{{ post.content }}</p>
                                <p class="card-text">{{ post.creation_date }}</p>
                                <a href="{% url 'main_app:post-detail' post.id %}"
                                   class="btn btn-primary btn-lg btn-block">Прочитать полностью</a><br>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}